Repository NanoComp/meep, pull requests merged in 2022-09, with the labels that each got.

#2186 Animate2D for OptimizationProblem
  python/adjoint/optimization_problem.py
  python/examples/adjoint_optimization/03-Filtered_Waveguide_Bend.ipynb
  python/tests/test_visualization.py
  python/visualization.py
Labels: enhancement, adjoint optimization

#2215 tutorial for LDOS and extraction efficiency of an LED
  doc/docs/Python_Tutorials/Local_Density_of_States.md
  doc/docs/Python_User_Interface.md
  doc/docs/images/dipole_extraction_eff_3D.png
  doc/docs/images/dipole_extraction_eff_cyl.png
  doc/docs/images/extraction_eff_vs_dipole_height.png
  python/examples/extraction_eff_ldos.py
  python/simulation.py
Labels: documentation

#2236 Add missing details in docstrings for `DiffractedPlanewave`
  doc/docs/Python_User_Interface.md
  python/simulation.py
Labels: documentation

#2202 Adjoint typehints
  python/adjoint/objective.py
  python/adjoint/optimization_problem.py
Labels: documentation, adjoint optimization

#2194 Resolve m-number adjoint bugs introduced by 1855
  python/adjoint/optimization_problem.py
  python/simulation.py
  python/tests/test_adjoint_cyl.py
  src/fields.cpp
  src/meep.hpp
  src/meepgeom.cpp
Labels: bug, adjoint optimization
